@font-face {
    font-family: Montserrat-Regular;
    src: url('./fonts/Montserrat-Regular.ttf');
}

.footer {
    background-image: url("../img/footer/background.png");
    background-size: 100% 100%;
    background-color: #c65b45;
    padding-bottom: 400px;
}

.footer-info {
    font-family: Montserrat-Regular, serif;
    font-size: 1.4rem;
    padding-top: 330px;
    display: flex;
    justify-content: space-between;
}

.footer-info-social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-info-social-text__message {
    max-width: 460px;
    margin-top: 15px;
}

.footer-info-social__icons {
    filter: invert(.8);
}

.footer-info-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*justify-content: space-around;*/
}

.footer-info-item {
    margin-top: 30px;
    margin-left: 50px;
}

.footer-info-social-text__title, .footer-info-item__title {
    font-size: 1.5rem;
    padding-bottom: 15px;
}

.footer-info-item__list{
    display: flex;
    flex-direction: column;

}

.footer-info-item__list a {
    white-space: nowrap;
    margin-top: 15px;
    color: #343434;
}

@media (max-width: 1024px) {
    .footer-info {
        flex-direction: column;
        align-items: center;
    }
    .footer-info-item {
    }
}
