@font-face {
    font-family: Reey-Regular;
    src: url('./fonts/Reey-Regular.otf');
}

@font-face {
    font-family: "Open Sans Bold Italic";
    src: url('./fonts/Open Sans Bold Italic.ttf');
}

@font-face {
    font-family: "Open Sans ExtraBold";
    src: url('./fonts/Open Sans ExtraBold.ttf');
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

form {
    position: relative;
    /*width: 300px;*/
    /*margin: 0 auto;*/
}

.header {
    /*display: flex;*/
    /*width: 600px;*/
    margin: 0;
    background-image: url("../img/header/header_background.jpg");
    background-size: 100% 100%;
    height: 100vh;
}

.container {
    max-width: 1350px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.header-navigation {
    /*background: green;*/
    max-width: 800px;
    margin-left: auto;
    padding-top: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-navigation__item {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
}

.header-navigation__search {
    background: #c65b45;
    width: 180px;
    height: inherit;
}

.header-navigation__search {background: #7BA7AB;}
.header-navigation__search:after {content:""; clear:both; display:table}
.header-navigation__search form {
    width: auto;
    float: right;
    margin-right: 30px;
}
.header-navigation__search input {
    width: 120px;
    height: 42px;
    padding-left: 15px;
    border-radius: 42px;
    border: 2px solid #324b4e;
    background: #F9F0DA;
    outline: none;
    position: relative;
    transition: .3s linear;
}
.header-navigation__search input:focus {
    width: 300px;
}

.header-navigation__search button {
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    position: absolute;
    top: -2px;
    right: 0;
    cursor: pointer;
}
.header-navigation__search button:before{
    content: "\f002";
    /*font-family: FontAwesome;*/
    color: #324b4e;
}

.header-content{
    /*background: #ff78f2;*/
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.header-content-info {
    flex: 5;
    /*flex-grow: 1;*/
    /*background: #c65b45;*/
    /*min-width: 500px;*/
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.header-content-info__logo {
    margin-top: 2vw;
}

.header-content-info__title {
    font-family: Reey-Regular, serif;
    font-size: 6rem;
    margin-top: 3vw;
    overflow-wrap: normal;
}

.header-content-info__text {
    margin-top: 4vw;
    font-family: "Open Sans Bold Italic", serif;
    font-size: 1.3rem;
}

.header-content-info__reed-more-button {
    width: 220px;
    height: 47px;
    margin-top: 3vw;
    position: relative;
}

.header-content-info__reed-more-button a {
    width: 100px;
    background: white;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: .7rem 1.5rem;
    color: #292c31;
    font-family: "Open Sans ExtraBold", serif;
}

.header-content-info__additional-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.3rem;
    margin-top: 2vw;
    max-width: 75%;
}

.header-content-pictures {
    flex: 4;
    /*flex-grow: 1;*/
    /*background: aqua;*/
    /*min-width: 300px;*/
    /*height: 300px;*/
    /*position: relative;*/
}

.header-content-pictures__main-dish {
    /*position: absolute;*/
    /*right: 0;*/
    top: 5vw;
    width: 70vmin;
}

.header-content-pictures__second-dish {
    /*position: absolute;*/
    /*bottom: -200px;*/
    /*left: -50px;*/
    /*width: inherit;*/
}

.footer {
    height: 100px;
}