@font-face {
    font-family: Reey-Regular;
    src: url('./fonts/Reey-Regular.otf');
}

@font-face {
    font-family: "Open Sans Bold Italic";
    src: url('./fonts/Open Sans Bold Italic.ttf');
}

@font-face {
    font-family: "Open Sans ExtraBold";
    src: url('./fonts/Open Sans ExtraBold.ttf');
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

form {
    position: relative;
    /*width: 300px;*/
    /*margin: 0 auto;*/
}

.main {
    background-image: url("../img/main/background.jpg");
    background-size: 100% 100%;
}

.container {
    max-width: 1300px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-navigation {
    /*background: green;*/
    max-width: 800px;
    margin-left: auto;
    padding-top: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main-navigation__item {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
}

.main-navigation__search {
    background: #c65b45;
    width: 180px;
    height: inherit;
}

.main-navigation__search {background: #7BA7AB;}
.main-navigation__search:after {content:""; clear:both; display:table}
.main-navigation__search form {
    width: auto;
    float: right;
    margin-right: 30px;
}
.main-navigation__search input {
    width: 120px;
    height: 42px;
    padding-left: 15px;
    border-radius: 42px;
    border: 2px solid #324b4e;
    background: #F9F0DA;
    outline: none;
    position: relative;
    transition: .3s linear;
}
.main-navigation__search input:focus {
    width: 300px;
}

.main-navigation__search button {
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    position: absolute;
    top: -2px;
    right: 0;
    cursor: pointer;
}
.main-navigation__search button:before{
    content: "\f002";
    /*font-family: FontAwesome;*/
    color: #324b4e;
}

.main-content{
    /*background: #ff78f2;*/
    display: flex;
    flex-wrap: wrap;
    /*margin-top: 100px;*/
    margin-top: 6vw;
}

.main-content-info {
    flex: 5;
    /*background: #c65b45;*/
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.main-content-info__logo {
    /*margin-top: 2vw;*/
}

.main-content-info__title {
    font-family: Reey-Regular, serif;
    font-size: 5.3rem;
    line-height: 1.7;
    /*margin-top: 33px;*/
    margin-top: 2vw;
}

.main-content-info__text {
    font-family: "Open Sans Bold Italic", serif;
    font-size: 1.3rem;
    letter-spacing: 6px;
    /*margin-top: 100px;*/
    margin-top: 6vw;
}

.main-content-info__reed-more-button {
    width: 220px;
    height: 47px;
    position: relative;
    /*margin-top: 66px;*/
    margin-top: 4vw;
}

.main-content-info__reed-more-button a {
    font-family: "Open Sans ExtraBold", serif;
    font-size: 1.3rem;
    text-align: center;
    color: #292c31;
    background: white;
    width: 200px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: .6rem 0;
}

.main-content-info__additional-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.4rem;
    /*margin-top: 27px;*/
    margin-top: 2vw;
    max-width: 75%;
}

.main-content-pictures {
    flex: 4;
    /*margin-top: 62px;*/
    margin-top: 3.5vw;
    position: relative;
    /*height: 70vmin;*/
}

.main-content-pictures__main-dish {
    /*position: absolute;*/
    /*right: 0;*/
    display: block;
    margin-left: auto;
    margin-bottom: 180px;
    width: 71vmin;
}

.main-content-pictures__second-dish {
    position: absolute;
    bottom: 40px;
    /*top: -100px;*/
    left: -130px;
    width: 30vmin;
}

.main-content-pictures__leaves {
    position: absolute;
    bottom: -120px;
    left: 150px;
    width: 55vmin;
}

.footer {
    background-color: aqua;
    height: 100px;
}